body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyriadPro", Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: $c-main;
}

.main {
  z-index: 3;
  position: relative;
}

.html-non-scroll {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
