// colors
$c-main: #4f4f4f;
$c-second: #ab8b3f;
$c-text-dark: #444444;
$c-dark-grayishnavy: #5e5748;
$c-grayish-orange: #867d67;
$c-napa: #aba495;
$c-ivory: #fffceb;
$c-light-orange: #e28327;
$c-white: #ffffff;
$c-white-o: rgba(255, 255, 255, 0);
$c-gray: #f7f7f7;
$c-gradient-light: #fffffe;
$c-gradient-dark: #e2e2e1;
$c-dark: #282828;
$c-white-smoke: #f5f5f5;
$c-green-light: #35ef81;
$c-green-middle-1: #29dc72;
$c-green-middle-2: #1cc862;
$c-green-middle-3: #11b654;
$c-green-dark: #04a244;
$c-gray80: #cccccc;
$c-dark-blue: #3a3f6d;
$c-dark-blue-o: rgba(58, 63, 109, 0);
$c-light-gray: #fdfdfd;
$c-whisper: #e7e6e6;

// font-weight
$light: 200;
$regular: 400;
$bold: 600;
$black: 700;

// font-size
$fs-small: 14.4px;

// media
$not-mob: 700px;

