.header {

  &__request-btn {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: $regular;
    color: $c-white;
    background-color: $c-dark-grayishnavy;
    border: none;
    text-align: left;
    font-family: "MyriadPro", Helvetica, sans-serif;
    cursor: pointer;

    @media (min-width: $not-mob) {
      width: auto;
      min-width: 140px;
      opacity: .6;
      background-color: inherit;
      margin-top: 5px;
      margin-bottom: 5px;
      @include button ($c-white);
    }

    &--active {

      @media (min-width: $not-mob) {
        color: $c-white;
        background-color: $c-green-dark;
        border: none;
        opacity: 1;
        background: linear-gradient(to left, $c-green-dark, $c-green-light);
        background: linear-gradient(to left, $c-green-dark, $c-green-middle-3, $c-green-middle-2, $c-green-middle-1, $c-green-light, $c-green-middle-1, $c-green-middle-2, $c-green-middle-3, $c-green-dark);
        animation: animateGlow 10s linear infinite;
        background-size: 200% 200%;
        transition: all .3s;

        &:hover {
          opacity: 1;
          animation: none;
          background: $c-green-dark;
          border: none;
          color: $c-white;
          transition: all .3s;
        }

        & .header__request-btn-num {

          @media (min-width: $not-mob) {
            width: 20px;
            height: 20px;
            font-size: 12px;
            font-weight: $regular;
            color: $c-main;
            background-color: $c-white;
            border-radius: 50%;
            right: 10px;
            opacity: 1;
            display: inline-block;
            margin-left: 10px;
            line-height: 1.7;
          }
        }
      }
    }
  }

  &__request-btn-num {
    font-weight: $black;
  }
}
