.header {

  &__request-btn {
    flex-basis: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: $regular;
    color: $c-white;
    background-color: $c-dark-grayishnavy;
    border: none;
    text-align: left;
    font-family: "MyriadPro", Helvetica, sans-serif;
    cursor: pointer;

    @media (min-width: $not-mob) {
      flex-basis: auto;
      border: 1px solid $c-white;
      opacity: .6;
      background-color: inherit;
      font-size: $fs-small;
      padding: 3px 27px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
